body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  text-align: center;  
  background-color:  #111c27;
  color: #9fbefc;
}
button {
  color: #ffd42a;
  cursor: pointer;
  background-color:  #111c27;
  font-size: large;
  padding: 1em;
  margin: auto;
  border-color: #ffffff;
  width: 400px;
}
button:hover {
  color: #111c27;
  background-color:  #ffd42a;  
}
.browse_btn {
  width: 200px;
  height: 40px;
  margin-top: 30px;
  font-size: medium;
  padding: 0.5em;
}
input[type=text], input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
/* .wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
} */
.centered-div {
  width: 100%;

}
.wrapper {
  text-align: left;
}
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 20px;
  margin: 0 20px;
}
form.choose_lists {
  grid-template-columns: 1fr 50px 1fr;
}

form label {
  display: block;
}
form p {
  margin: 0;
}
.full-width {
  grid-column: 1 / 3;
}
form.choose_lists .full-width {
  grid-column: 1 / 4;
}
p.double-row select {
  height: 200px;
}
form.choose_lists .browse_btn {
  width: 20%;
  margin-top: 0;
  /* height: 40px;
  margin-top: 30px;
  font-size: medium;
  padding: 0.5em; */
}
form.choose_lists .select_item_btn {
  width: 50px;
  padding: 1em;
}
input[type=text].path_input {
  width: 78%;
}
.btn-center {
  text-align: center;
  justify-content: center;
  align-items: center;
}
#listprefix {
  width: 80px;
}